doctype html
html
  head
    meta(charset="utf-8")
    title London Phonegap
    link(rel="stylesheet", href="css/main.css")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")

  body
    header
      a(href="/")
        h1
          img(src="cordova.png", style="vertical-align: middle;")
          | London Phonegap
        p Let"s hack your phone with some HTML5 and a cup of tea !

    .wrapper
      section
        p This group is for developers interested in mobile app development in Phonegap using Javascript frameworks such as AngularJS and Ember.js. All skill and experience levels are welcome. The main aim is to discuss techniques and share experiences over a friendly beverage. Sometimes this will involve watching a presentation.

        h2 No upcoming meetup

        hr

        h2 Past events

        h3
          a(href="http://www.meetup.com/londonphonegap/events/168417212/", target="_blank") 13/03 - March Morning Meetup

        h3
          a(href="http://www.meetup.com/londonphonegap/events/158018072/", target="_blank") 13/03 - February 2014 meetup (The night meetup)
        ul
          li
            | Ionic, Electric app development by 
            a(href="https://twitter.com/yrezgui") Yacine Rezgui
            p This talk will introduce the Ionic Framework and will explore the different models of mobile apps (html5, native, hybrid).

          li
            | One for all? by 
            a(href="https://twitter.com/sheppyc") Chris Shepherd
            p Chris takes us through his experiences of building multi-platform apps from a single source.

        h3
          a(href="http://www.meetup.com/londonphonegap/events/155050162/", target="_blank") 19/12 - Inaugural morning meetup

      footer
        p
          span.small
            | Website created by 
            a(href="http://twitter.com/yrezgui") @yrezgui
